In [1]:
print ("Hello world!")

Hello world!

In [2]:
#List 
fruits = ["apple", "banana"]
another_list = ["this is string", 10]

print(fruits)
print(another_list)

combined = [fruits, another_list] #untuk menggabungkan
print(combined)

['apple', 'banana']
['this is string', 10]
[['apple', 'banana'], ['this is string', 10]]

In [3]:
#add element to a list
fruits = ["apple", "banana"]
fruits.append("orange") #append is the syntax to add
print(fruits)

fruits=fruits+["mango", "melon"]
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'mango', 'melon']

In [5]:
import pandas as pd
import numpy as np

In [6]:
##Merging
left = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'A' : ['A0','A1','A2','A3'],
                    'B' : ['B0','B1','B2','B3']})
right = pd.DataFrame({'key':['K0','K1','K2','K3'],
                    'C' : ['C0','C1','C2','C3'],
                    'D' : ['D0','D1','D2','D3']})
result1 = pd.merge(left,right, on='key')

In [7]:
result1

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [8]:
#multiple key
left = pd.DataFrame({'key1':['K0','K0','K1','K2'],
                     'key2' :['K0','K1','K0','K1'],
                    'A' : ['A0','A1','A2','A3'],
                    'B' : ['B0','B1','B2','B3']})
right = pd.DataFrame({'key1':['K0','K1','K1','K2'],
                      'key2' :['K0','K0','K0','K0'],
                    'C' : ['C0','C1','C2','C3'],
                    'D' : ['D0','D1','D2','D3']})
result2 = pd.merge(left,right, on=['key1', 'key2'])
print(result2)

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [12]:
import pandas as pd
import numpy as np

In [25]:
data1=pd.read_csv("Mining.csv",sep=",")

In [26]:
data2=pd.read_csv("Mining2.csv",sep=",")

In [27]:
data2

   Acid1  Flashes
0  0.123    0.111
1  0.109    0.109
2  0.110    0.111
3  0.109    0.109
4  0.112    0.112
5  0.109    0.109
6  0.110    0.109
7  0.110    0.111
8  0.110    0.110
9  0.112    0.112

In [28]:
data=pd.merge(data1, data2, on="Acid1")

In [29]:
data

    Acid1  Acid2  Flashes
0   0.123  0.109    0.111
1   0.109  0.111    0.109
2   0.109  0.111    0.109
3   0.109  0.111    0.109
4   0.109  0.110    0.109
5   0.109  0.110    0.109
6   0.109  0.110    0.109
7   0.109  0.110    0.109
8   0.109  0.110    0.109
9   0.109  0.110    0.109
10  0.110  0.110    0.111
11  0.110  0.110    0.109
12  0.110  0.110    0.111
13  0.110  0.110    0.110
14  0.110  0.111    0.111
15  0.110  0.111    0.109
16  0.110  0.111    0.111
17  0.110  0.111    0.110
18  0.110  0.110    0.111
19  0.110  0.110    0.109
20  0.110  0.110    0.111
21  0.110  0.110    0.110
22  0.110  0.110    0.111
23  0.110  0.110    0.109
24  0.110  0.110    0.111
25  0.110  0.110    0.110
26  0.112  0.105    0.112
27  0.112  0.105    0.112
28  0.112  0.111    0.112
29  0.112  0.111    0.112