# TRANSFORMASI

In [2]:
import pandas as pd
import numpy as np

In [10]:
#import dataset

data=pd.read_csv("pcademo.csv",sep=";")

In [11]:
x=data.iloc[0:50,1:20]
x.tail()

,Census Resident Total Population - Apr-1-2000,Resident Total Population Estimate - Jul-1-2000,Resident Total Population Estimate - Jul-1-2001,Net Domestic Migration - Jul-1-2000,Net Domestic Migration - Jul-1-2001,Federal/Civilian Movement from Abroad - Jul-1-2000,Federal/Civilian Movement from Abroad - Jul-1-2001,Net International Migration - Jul-1-2000,Net International Migration - Jul-1-2001,Period Births - Jul-1-2000,Period Births - Jul-1-2001,Period Deaths - Jul-1-2000,Period Deaths - Jul-1-2001,Resident Under 65 Population Estimate - Jul-1-2000,Resident Under 65 Population Estimate - Jul-1-2001,Resident 65 Plus Population Estimate - Jul-1-2000,Resident 65 Plus Population Estimate - Jul-1-2001,Residual - Jul-1-2000,Residual - Jul-1-2001
45,608827,609709,613090,440,1705,0,-1,136,700,1545,6327,1202,5226,531993,534733,77716,78357,-37,-124
46,7078515,7104016,7187734,8119,18299,232,-1212,5721,22619,24352,100188,13158,57337,6308235,6380181,795781,807553,235,1161
47,5894121,5908372,5987973,425,21995,83,-444,5249,22052,19388,80339,10365,44681,5244172,5317341,664200,670632,-529,340
48,1808344,1807099,1801916,-1411,-4442,0,-1,129,491,5041,20436,4937,21435,1530334,1526360,276765,275556,-67,-232
49,5363675,5372243,5401906,1536,2974,0,-5,1571,6056,16696,68631,11058,47276,4669153,4698404,703090,703502,-177,-717

In [12]:
#normalisasi
from sklearn.preprocessing import normalize #nilai antara 0 sampai 1
xnorm=normalize(x,norm='l2')
xnorm=pd.DataFrame(xnorm) #DataFrame agar bentuknya jadi tabel
xnorm.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
45,0.467017,0.467694,0.470287,0.000338,0.001308,0.000000,-7.670767e-07,0.000104,0.000537,0.001185,0.004853,0.000922,0.004009,0.408079,0.410181,0.059614,0.060106,-0.000028,-0.000095
46,0.462700,0.464367,0.469840,0.000531,0.001196,0.000015,-7.922467e-05,0.000374,0.001479,0.001592,0.006549,0.000860,0.003748,0.412350,0.417053,0.052018,0.052787,0.000015,0.000076
47,0.462826,0.463946,0.470196,0.000033,0.001727,0.000007,-3.486439e-05,0.000412,0.001732,0.001522,0.006308,0.000814,0.003509,0.411790,0.417536,0.052155,0.052660,-0.000042,0.000027
48,0.473139,0.472813,0.471457,-0.000369,-0.001162,0.000000,-2.616422e-07,0.000034,0.000128,0.001319,0.005347,0.001292,0.005608,0.400400,0.399360,0.072413,0.072097,-0.000018,-0.000061
49,0.467409,0.468156,0.470741,0.000134,0.000259,0.000000,-4.357173e-07,0.000137,0.000528,0.001455,0.005981,0.000964,0.004120,0.406886,0.409435,0.061270,0.061306,-0.000015,-0.000062

In [14]:
#minmax
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(-5, 1))
scaler.fit(x)
x_scaled=scaler.transform(x)
x_scaled=pd.DataFrame(x_scaled)
x_scaled.tail()

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
45,-4.993375,-4.993064,-4.992702,-1.441893,-1.978190,-5.000000,1.000000,-4.997157,-4.992662,-5.000000,-5.000000,-4.941193,-4.940274,-4.993872,-4.993850,-4.929907,-4.931200,-2.765253,-2.771863
46,-3.827651,-3.827448,-3.830054,-0.837422,-1.735456,-0.857143,-3.799207,-4.530118,-4.508216,-3.932856,-3.925301,-3.596840,-3.573392,-3.834312,-3.837914,-3.724622,-3.722345,-1.816967,-1.375883
47,-4.041058,-4.042045,-4.042217,-1.443074,-1.681392,-3.517857,-0.755614,-4.569589,-4.520748,-4.165123,-4.152570,-3.910890,-3.905361,-4.047919,-4.048090,-3.945483,-3.949331,-4.480535,-2.267789
48,-4.777243,-4.778153,-4.782472,-1.587599,-2.068107,-5.000000,1.000000,-4.997742,-4.997281,-4.836421,-4.838453,-4.521223,-4.515109,-4.793459,-4.797756,-4.595799,-4.604285,-2.869843,-2.889191
49,-4.136635,-4.138271,-4.145856,-1.355619,-1.959627,-5.000000,0.984148,-4.877157,-4.874286,-4.291082,-4.286625,-3.832968,-3.837294,-4.163352,-4.170485,-3.880205,-3.894840,-3.253341,-3.416078

In [16]:
#sigmoid
xsigmoidal=(1-2.718281828**(-xnorm))/(1+718281828**(-xnorm))
xsigmoidal=pd.DataFrame(xsigmoidal)
xsigmoidal.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
45,0.373103,0.373528,0.375151,0.000169,0.000662,0.000000,-3.835355e-07,0.000052,0.000270,0.000599,0.002540,0.000465,0.002082,0.334992,0.336392,0.044637,0.045097,-0.000014,-0.000048
46,0.370389,0.371439,0.374872,0.000267,0.000605,0.000008,-3.958190e-05,0.000188,0.000750,0.000808,0.003481,0.000434,0.001942,0.337832,0.340945,0.037653,0.038349,0.000008,0.000038
47,0.370469,0.371173,0.375095,0.000017,0.000878,0.000003,-1.742630e-05,0.000207,0.000880,0.000772,0.003346,0.000410,0.001814,0.337461,0.341264,0.037777,0.038234,-0.000021,0.000013
48,0.376932,0.376729,0.375883,-0.000184,-0.000575,0.000000,-1.308207e-07,0.000017,0.000064,0.000668,0.002812,0.000654,0.002956,0.329854,0.329155,0.056866,0.056558,-0.000009,-0.000030
49,0.373349,0.373817,0.375435,0.000067,0.000130,0.000000,-2.178577e-07,0.000069,0.000265,0.000738,0.003163,0.000486,0.002142,0.334197,0.335895,0.046189,0.046223,-0.000008,-0.000031

In [17]:
#decimal scalling
xdec=x/(10**3) #10 pangkat i, i boleh 1,2,3,...
xdec=pd.DataFrame(xdec)
xdec.tail()

,Census Resident Total Population - Apr-1-2000,Resident Total Population Estimate - Jul-1-2000,Resident Total Population Estimate - Jul-1-2001,Net Domestic Migration - Jul-1-2000,Net Domestic Migration - Jul-1-2001,Federal/Civilian Movement from Abroad - Jul-1-2000,Federal/Civilian Movement from Abroad - Jul-1-2001,Net International Migration - Jul-1-2000,Net International Migration - Jul-1-2001,Period Births - Jul-1-2000,Period Births - Jul-1-2001,Period Deaths - Jul-1-2000,Period Deaths - Jul-1-2001,Resident Under 65 Population Estimate - Jul-1-2000,Resident Under 65 Population Estimate - Jul-1-2001,Resident 65 Plus Population Estimate - Jul-1-2000,Resident 65 Plus Population Estimate - Jul-1-2001,Residual - Jul-1-2000,Residual - Jul-1-2001
45,608.827,609.709,613.090,0.440,1.705,0.000,-0.001,0.136,0.700,1.545,6.327,1.202,5.226,531.993,534.733,77.716,78.357,-0.037,-0.124
46,7078.515,7104.016,7187.734,8.119,18.299,0.232,-1.212,5.721,22.619,24.352,100.188,13.158,57.337,6308.235,6380.181,795.781,807.553,0.235,1.161
47,5894.121,5908.372,5987.973,0.425,21.995,0.083,-0.444,5.249,22.052,19.388,80.339,10.365,44.681,5244.172,5317.341,664.200,670.632,-0.529,0.340
48,1808.344,1807.099,1801.916,-1.411,-4.442,0.000,-0.001,0.129,0.491,5.041,20.436,4.937,21.435,1530.334,1526.360,276.765,275.556,-0.067,-0.232
49,5363.675,5372.243,5401.906,1.536,2.974,0.000,-0.005,1.571,6.056,16.696,68.631,11.058,47.276,4669.153,4698.404,703.090,703.502,-0.177,-0.717

In [20]:
#softmax
def softmax(x):
    return np.exp(x)/np.sum(np.exp(x), axis=0)
xsoft=softmax(xnorm)
xsoft=pd.DataFrame(xsoft)
print(xsoft)

          0         1         2         3         4     5         6   \
0   0.020044  0.020034  0.019986  0.019997  0.019980  0.02  0.020000
1   0.019778  0.019768  0.019799  0.019976  0.019981  0.02  0.019998
2   0.019911  0.019954  0.020135  0.020031  0.020133  0.02  0.020000
3   0.020056  0.020053  0.020027  0.020003  0.020000  0.02  0.020000
4   0.019904  0.019920  0.019981  0.019994  0.019978  0.02  0.020000
5   0.019839  0.019867  0.019992  0.020019  0.020084  0.02  0.020000
6   0.020057  0.020050  0.020016  0.019995  0.019974  0.02  0.020000
7   0.019990  0.020002  0.020045  0.020014  0.020048  0.02  0.020000
8   0.020038  0.020003  0.019940  0.019961  0.019924  0.02  0.020000
9   0.020079  0.020102  0.020229  0.020018  0.020118  0.02  0.020000
10  0.019846  0.019875  0.019972  0.020021  0.020063  0.02  0.020000
11  0.020029  0.020016  0.020034  0.019975  0.019973  0.02  0.019998
12  0.019916  0.019934  0.020014  0.020014  0.020057  0.02  0.020000
13  0.020006  0.019999  0.019959  0.019985  0.019928  0.02  0.020000
14  0.020013  0.020009  0.019971  0.019999  0.019978  0.02  0.020000
15  0.020118  0.020102  0.020013  0.019993  0.019943  0.02  0.020000
16  0.020053  0.020045  0.019980  0.019992  0.019937  0.02  0.020000
17  0.020017  0.020011  0.019977  0.020001  0.019998  0.02  0.020000
18  0.020018  0.020001  0.019916  0.019984  0.019922  0.02  0.020000
19  0.020062  0.020058  0.020054  0.020012  0.020059  0.02  0.020000
20  0.019944  0.019950  0.019987  0.020001  0.020017  0.02  0.020000
21  0.020053  0.020046  0.020003  0.019994  0.019966  0.02  0.020000
22  0.020012  0.020006  0.019967  0.019996  0.019971  0.02  0.020000
23  0.019982  0.019985  0.019988  0.020004  0.020003  0.02  0.020000
24  0.020008  0.020003  0.019957  0.019998  0.019967  0.02  0.020000
25  0.020045  0.020040  0.020008  0.020001  0.019996  0.02  0.020000
26  0.020060  0.020051  0.019989  0.020002  0.019980  0.02  0.020000
27  0.020069  0.020057  0.019985  0.019990  0.019935  0.02  0.020000
28  0.019770  0.019843  0.020165  0.020058  0.020260  0.02  0.020000
29  0.019947  0.019958  0.020028  0.020019  0.020099  0.02  0.020000
30  0.020028  0.020025  0.020011  0.019990  0.019962  0.02  0.020000
31  0.019997  0.019990  0.019955  0.019987  0.019945  0.02  0.020000
32  0.020047  0.020034  0.019969  0.019978  0.019896  0.02  0.020000
33  0.019956  0.019969  0.020019  0.020013  0.020048  0.02  0.019999
34  0.020165  0.020126  0.019955  0.019973  0.019871  0.02  0.020000
35  0.020059  0.020045  0.019981  0.019993  0.019962  0.02  0.020000
36  0.020054  0.020041  0.019985  0.019993  0.019966  0.02  0.020000
37  0.019989  0.019991  0.020035  0.020003  0.020045  0.02  0.020000
38  0.020135  0.020116  0.020044  0.019994  0.019978  0.02  0.020000
39  0.020060  0.020058  0.020060  0.020005  0.020031  0.02  0.020000
40  0.019977  0.019984  0.020001  0.020011  0.020034  0.02  0.020000
41  0.020087  0.020076  0.020014  0.019996  0.019964  0.02  0.020000
42  0.020000  0.020002  0.019989  0.020007  0.020011  0.02  0.020000
43  0.019866  0.019888  0.019979  0.020005  0.020024  0.02  0.020000
44  0.019847  0.019863  0.019903  0.019992  0.019943  0.02  0.020000
45  0.020022  0.020016  0.019993  0.020006  0.020023  0.02  0.020000
46  0.019935  0.019950  0.019984  0.020010  0.020020  0.02  0.019999
47  0.019938  0.019941  0.019991  0.020000  0.020031  0.02  0.020000
48  0.020145  0.020119  0.020016  0.019992  0.019973  0.02  0.020000
49  0.020030  0.020025  0.020002  0.020002  0.020002  0.02  0.020000

          7         8         9         10        11        12        13  \
0   0.019995  0.019982  0.020001  0.020005  0.020003  0.020014  0.019984
1   0.019999  0.019995  0.020004  0.020016  0.019991  0.019960  0.020423
2   0.020005  0.020017  0.020005  0.020021  0.019998  0.019992  0.019916
3   0.019997  0.019986  0.020001  0.020005  0.020004  0.020017  0.019914
4   0.020013  0.020050  0.020003  0.020014  0.019996  0.019981  0.020110
5   0.020002  0.020009  0.020001  0.020006  0.019995  0.019977  0.020149
6   0.020002  0.020009  0.019997  0.019987  0.020000  0.020002  0.019928
7   0.019999  0.019996  0.020000  0.020002  0.020000  0.020001  0.019960
8   0.020006  0.020029  0.020001  0.020003  0.020004  0.020018  0.020037
9   0.020010  0.020031  0.019998  0.019990  0.020003  0.020015  0.019622
10  0.020000  0.020001  0.020005  0.020021  0.019997  0.019990  0.020165
11  0.020003  0.020017  0.020003  0.020015  0.019996  0.019983  0.019944
12  0.019999  0.019997  0.020002  0.020011  0.019997  0.019987  0.020061
13  0.020006  0.020020  0.020002  0.020009  0.020000  0.019999  0.020046
14  0.019997  0.019987  0.020000  0.020001  0.020001  0.020004  0.020025
15  0.019997  0.019987  0.019998  0.019990  0.020002  0.020009  0.019870
16  0.020000  0.019997  0.020001  0.020006  0.020001  0.020005  0.019976
17  0.019996  0.019983  0.019999  0.019997  0.020002  0.020010  0.020016
18  0.019995  0.019982  0.020004  0.020016  0.020001  0.020005  0.020093
19  0.019995  0.019981  0.019992  0.019967  0.020002  0.020010  0.019878
20  0.020003  0.020014  0.020000  0.020002  0.019999  0.019996  0.020071
21  0.020001  0.020006  0.019998  0.019989  0.020000  0.020003  0.019948
22  0.019999  0.019994  0.019999  0.019997  0.020000  0.020001  0.020033
23  0.019998  0.019994  0.019999  0.019995  0.019998  0.019990  0.020033
24  0.019995  0.019981  0.020005  0.020019  0.020003  0.020013  0.020049
25  0.019997  0.019986  0.019999  0.019996  0.020003  0.020011  0.019948
26  0.019995  0.019980  0.019995  0.019981  0.020001  0.020003  0.019964
27  0.019999  0.019993  0.020000  0.020003  0.020001  0.020001  0.019956
28  0.020009  0.020038  0.020001  0.020005  0.019997  0.019986  0.020004
29  0.019996  0.019986  0.019994  0.019976  0.019998  0.019992  0.020017
30  0.020007  0.020029  0.019999  0.019993  0.020000  0.019998  0.019961
31  0.020000  0.020000  0.020002  0.020008  0.019997  0.019988  0.020070
32  0.020009  0.020039  0.020000  0.019998  0.019999  0.019997  0.019998
33  0.019999  0.019996  0.020002  0.020009  0.020000  0.020002  0.020021
34  0.019996  0.019983  0.019995  0.019982  0.020002  0.020006  0.019905
35  0.019996  0.019984  0.019999  0.020000  0.020002  0.020009  0.019972
36  0.019997  0.019990  0.020001  0.020000  0.020003  0.020013  0.019974
37  0.020001  0.020006  0.019998  0.019992  0.020000  0.019999  0.019970
38  0.019997  0.019990  0.019995  0.019981  0.020004  0.020020  0.019813
39  0.020000  0.020002  0.019995  0.019980  0.020002  0.020009  0.019867
40  0.019996  0.019986  0.020001  0.020002  0.020001  0.020005  0.020027
41  0.019995  0.019982  0.020000  0.019998  0.020002  0.020007  0.019902
42  0.019996  0.019986  0.020000  0.020000  0.020002  0.020010  0.020019
43  0.020006  0.020023  0.020007  0.020028  0.019996  0.019984  0.020144
44  0.020002  0.020006  0.020014  0.020059  0.019993  0.019969  0.020251
45  0.019996  0.019987  0.019992  0.019966  0.019999  0.019998  0.019996
46  0.020001  0.020005  0.020000  0.020000  0.019998  0.019993  0.020082
47  0.020002  0.020010  0.019999  0.019995  0.019997  0.019988  0.020071
48  0.019995  0.019978  0.019994  0.019976  0.020007  0.020030  0.019843
49  0.019997  0.019986  0.019997  0.019989  0.020000  0.020000  0.019973

          14        15        16        17        18
0   0.019936  0.020049  0.020049  0.020000  0.019999
1   0.020447  0.019358  0.019364  0.020001  0.020001
2   0.020068  0.020037  0.020065  0.020000  0.020002
3   0.019895  0.020139  0.020131  0.020000  0.020000
4   0.020165  0.019810  0.019816  0.020000  0.020001
5   0.020266  0.019719  0.019729  0.020001  0.020002
6   0.019901  0.020122  0.020115  0.019999  0.019998
7   0.019989  0.020040  0.020054  0.020000  0.019998
8   0.020004  0.019965  0.019935  0.020001  0.019999
9   0.019734  0.020489  0.020500  0.020000  0.020002
10  0.020256  0.019711  0.019719  0.020001  0.020003
11  0.019949  0.020071  0.020084  0.020000  0.019998
12  0.020130  0.019873  0.019883  0.020001  0.020002
13  0.020016  0.019952  0.019942  0.020000  0.020001
14  0.019994  0.019982  0.019976  0.020000  0.020000
15  0.019797  0.020233  0.020217  0.019999  0.019999
16  0.019923  0.020068  0.020056  0.020000  0.020000
17  0.019988  0.019993  0.019988  0.020000  0.019999
18  0.020014  0.019907  0.019900  0.020000  0.020000
19  0.019873  0.020179  0.020180  0.020000  0.019999
20  0.020102  0.019879  0.019885  0.020000  0.020000
21  0.019914  0.020097  0.020088  0.020000  0.019998
22  0.019998  0.019972  0.019967  0.020000  0.019999
23  0.020039  0.019951  0.019948  0.020000  0.020000
24  0.020006  0.019954  0.019950  0.020000  0.020000
25  0.019925  0.020091  0.020082  0.020000  0.020000
26  0.019904  0.020086  0.020084  0.020000  0.020000
27  0.019895  0.020100  0.020089  0.020000  0.019999
28  0.020279  0.019837  0.019886  0.020002  0.020007
29  0.020080  0.019940  0.019947  0.020000  0.020000
30  0.019954  0.020064  0.020056  0.020000  0.020000
31  0.020023  0.019919  0.019930  0.020000  0.019999
32  0.019942  0.020035  0.020026  0.020000  0.020000
33  0.020063  0.019947  0.019955  0.020000  0.020000
34  0.019751  0.020221  0.020205  0.020000  0.020001
35  0.019916  0.020072  0.020065  0.020000  0.019999
36  0.019922  0.020066  0.020062  0.020000  0.020000
37  0.020012  0.020021  0.020022  0.020000  0.019999
38  0.019756  0.020305  0.020290  0.020000  0.019999
39  0.019877  0.020191  0.020183  0.019999  0.019998
40  0.020031  0.019956  0.019968  0.020000  0.019999
41  0.019851  0.020174  0.020163  0.019999  0.020000
42  0.020001  0.019982  0.019986  0.020000  0.020000
43  0.020227  0.019745  0.019754  0.020000  0.020001
44  0.020281  0.019616  0.019626  0.020000  0.020001
45  0.019970  0.020018  0.020022  0.019999  0.019998
46  0.020108  0.019867  0.019876  0.020000  0.020002
47  0.020117  0.019870  0.019873  0.019999  0.020001
48  0.019755  0.020276  0.020263  0.020000  0.019999
49  0.019955  0.020052  0.020046  0.020000  0.019999

In [21]:
#feature selection (mencari skor)
from sklearn.feature_selection import SelectKBest, chi2, f_regression
Xx = x.iloc[0:51,1:20]
y=x.iloc[0:51,1]
selector=SelectKBest (f_regression, k='all').fit(Xx,y)
Xnew=selector.transform(Xx)
scores=selector.scores_
scores

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\feature_selection\univariate_selection.py:304: RuntimeWarning: divide by zero encountered in true_divide
  F = corr ** 2 / (1 - corr ** 2) * degrees_of_freedom

array([           inf, 5.42992077e+05, 3.36309224e+00, 1.44688133e+00,
       4.84127151e+01, 4.19124039e+01, 2.68529779e+02, 2.78220530e+02,
       2.95622961e+03, 2.91926623e+03, 1.05835268e+03, 9.96144647e+02,
       4.62811355e+04, 3.95454486e+04, 8.11769724e+02, 8.43957453e+02,
       1.53601161e+00, 3.92245642e+00])